/* AuthForm.module.css */
.authform {
  height: 360px;
  width: 350px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authform__header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.authform__form {
  padding: 10px;
  gap: 30px;
  flex-grow: 1;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.authform__actions {
  gap: 15px;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

.authform__link {
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}
