.task-page {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.task-page__container {
  /* max-height: 400px; */
  border: 1.2px solid gray;
  border-radius: 10px !important;
  padding-bottom: 10px;
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
}

.task-page__header {
  height: 60px;
  min-height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  border-radius: inherit;
}

.task-page__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.task-page__accordion-summary {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 50px;
}

.task-page__accordion-details {
  display: flex;
  flex-direction: row;
}

.task-page__details-content {
  flex-grow: 1;
}

.task-page__details-content__description {
  font-size: 14px;
}

.task-page__details-content__date {
  font: normal normal 300 10px/14px Source Serif Pro;
}

.task-page__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 20px;
  align-items: flex-end;
}
